<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Car Price Predictor</title>
  </head>
  <body class="bg-nav"style="background-image: url(https://images3.alphacoders.com/115/115387.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">
    <nav class ="navbar">
        <a href="" class="navbar-brand text-light">Car Price Predictor</a>
    </nav>


    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="text-light display-4 mt-100" style="font-size:80px">Thinking of selling your car?Check out the probable price.</h1>

            </div>
            <div class="col-md-4">
                <div class="card mt-100">
                    <div class="card-body">
                        <form method="post" accept-charset="utf-8" name="Modelform">
                        <div class="col-md-10 form-group" style="text-align: center">
                        <label><b>Select the company:</b> </label><br>
                        <select class="selectpicker form-control" id="company" name="company" required="1"
                                onchange="load_car_models(this.id,'car_models')">

                            <option value="Select Company">Select Company</option>

                            <option value="Audi">Audi</option>

                            <option value="BMW">BMW</option>

                            <option value="Chevrolet">Chevrolet</option>

                            <option value="Datsun">Datsun</option>

                            <option value="Fiat">Fiat</option>

                            <option value="Force">Force</option>

                            <option value="Ford">Ford</option>

                            <option value="Hindustan">Hindustan</option>

                            <option value="Honda">Honda</option>

                            <option value="Hyundai">Hyundai</option>

                            <option value="Jaguar">Jaguar</option>

                            <option value="Jeep">Jeep</option>

                            <option value="Land">Land</option>

                            <option value="Mahindra">Mahindra</option>

                            <option value="Maruti">Maruti</option>

                            <option value="Mercedes">Mercedes</option>

                            <option value="Mini">Mini</option>

                            <option value="Mitsubishi">Mitsubishi</option>

                            <option value="Nissan">Nissan</option>

                            <option value="Renault">Renault</option>

                            <option value="Skoda">Skoda</option>

                            <option value="Tata">Tata</option>

                            <option value="Toyota">Toyota</option>

                            <option value="Volkswagen">Volkswagen</option>

                            <option value="Volvo">Volvo</option>

                        </select>
                    </div>
                    </div>
                    <div class="col-md-10 form-group" style="text-align: center">
                        <label><b>Enter the model:</b> </label><br>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="model_name" placeholder="Model name"><br>
                        </select>
                    </div>
                    <div class="col-md-10 form-group" style="text-align: center">
                        <label><b>Select Year of Purchase:</b> </label><br>
                        <select class="selectpicker form-control" id="year" name="year" required="1">

                            <option value="2019">2019</option>

                            <option value="2018">2018</option>

                            <option value="2017">2017</option>

                            <option value="2016">2016</option>

                            <option value="2015">2015</option>

                            <option value="2014">2014</option>

                            <option value="2013">2013</option>

                            <option value="2012">2012</option>

                            <option value="2011">2011</option>

                            <option value="2010">2010</option>

                            <option value="2009">2009</option>

                            <option value="2008">2008</option>

                            <option value="2007">2007</option>

                            <option value="2006">2006</option>

                            <option value="2005">2005</option>

                            <option value="2004">2004</option>

                            <option value="2003">2003</option>

                            <option value="2002">2002</option>

                            <option value="2001">2001</option>

                            <option value="2000">2000</option>

                            <option value="1995">1995</option>

                        </select>
                    </div>
                    <div class="col-md-10 form-group" style="text-align: center">
                        <label><b>Select the Fuel Type:</b> </label><br>
                        <select class="selectpicker form-control" id="fuel" name="fuel" required="1">

                            <option value="1">Petrol</option>

                            <option value="2">Diesel</option>

                            <option value="3">LPG</option>

                            <option value="0">Other</option>

                        </select>
                    </div>
                    <div class="col-md-10 form-group" style="text-align: center">
                        <label><b>Enter the number of Kilometres travelled by the car:</b> </label><br>
                        <input type="text" class="form-control" id="kms" name="kms"
                               placeholder="Enter the kilometres travelled">
                    </div>
                    <div class="col-md-10 form-group" style="text-align: center">
                        <button  class="btn btn-primary form-control" onclick="send_data()">Predict Price</button>
                    </div>
                </form>
                <br>
                <div class="row">
                    <div class="col-12" style="text-align: center">
                        <h4><span id="prediction"></span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
 function form_handler(event) {
        event.preventDefault(); // Don't submit the form normally
    }
    function send_data()
    {
        document.querySelector('form').addEventListener("submit",form_handler);

        var fd=new FormData(document.querySelector('form'));

        var xhr= new XMLHttpRequest({mozSystem: true});

        xhr.open('POST','/predict',true);
        document.getElementById('prediction').innerHTML="Wait! Predicting Price.....";
        xhr.onreadystatechange = function(){
            if(xhr.readyState == XMLHttpRequest.DONE){
                document.getElementById('prediction').innerHTML="You can sell at the car ₹ "+xhr.responseText;

            }
        };

        xhr.onload= function(){};

        xhr.send(fd);
    }


    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <footer>
        <p class = "text-center text-light" style = "padding:10px">Copyright@Chandrima Sarkar,2020</p>
    </footer>
  </body>
